* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, darkblue, black);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main card container */
.container {
  width: 90%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

/* Title */
h1 {
  margin-bottom: 10px;
  color: sienna;
}

/* Button */
button {
  margin: 15px 0 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: sienna;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(140deg, red, yellow);
}

/* Gallery grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

/* Images */
.gallery img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05) rotate(8deg);
  box-shadow: red;
}
@media (max-width: 600px) {
  .body{
    width: 100%;
  }
}
